.contentList .item {
  transition: background 0.5s;
}

.itemWrapper {

}

.item {
  cursor: pointer;
}

.item:hover {
  background-color: var(--orange-film);
}

.active {
  background-color: var(--white);
}

.header {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  margin-left: 2rem;
  font-size: 2rem;
  color: var(--blue);
}

.metadata {

}

.metadata .term {
  font-style: italic;
}

.metadata .term:after {
  content: ": ";
}

.metadata .definition {
  clear: right;
}
