.contentList .item {
  transition: background 0.5s;
}

.item {
  cursor: pointer;
}

.item:hover {
  background-color: var(--orange);
}

.metadata {

}

.metadata .term {
  font-style: italic;
}

.metadata .term:after {
  content: ": ";
}

.metadata .definition {
  clear: right;
}
