.contentTypeList {

}

.contentTypeList .active {
  background-color: rgba(255, 255, 255, 0.5);
}

.contentTypeList li {
  cursor: pointer;
}

.contentTypeList li:hover {
  background-color: var(--orange-film);
}
