.contentList {
  margin-bottom: 5rem;
}

.contentList .item {
  transition: background 0.5s;
}

.import {
  position: fixed;
  right: 0;
  bottom: 0;
}

.itemWrapper {

}

.item {
  cursor: pointer;
}

.item:hover {
  background-color: var(--orange-film);
}

.active {
  background-color: var(--white);
}

.header {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  margin-left: 2rem;
  font-size: 2rem;
  color: var(--blue);
}

.metadata {

}

.metadata .term {
  font-style: italic;
}

.metadata .term:after {
  content: ": ";
}

.metadata .definition {
  clear: right;
}

.empty {
  width: 100%;
  text-align: center;
  font-size: 2em;
  padding: 1rem;
}

.empty p {
  margin: 0;
}
