.item {
  border: 1px solid var(--gray);
  background-color: var(--orange-film);
  border-radius: 2px;
  margin: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.header {
  background-color: var(--white-film);
}

.header .title {
  display: inline;
  margin-left: 2rem;
  font-size: 1.5rem;
}

.level1 {
  background-color: var(--off-white);
}

.level2 {
}

.inputs .label {

}
