.collection {
  composes: inputField from './InputField.css';
}

.items {
}

.header {
  text-transform: uppercase;
}

.buttons {

}

.newItemButton {
  font-size: 1rem;
  padding: 0.5rem;
}

.newItemButton em {
  font-size: 1rem;
}
