.inputField {
  width: 100%;
  padding: 1rem;
  transition: color 0.5s;
}

.active {
  color: var(--blue);
}

.inactive {
  color: var(--gray);
}

.label {
  text-transform: uppercase;
}

.input {
  display: block;
  width: 100%;
  padding: 0.5rem;
  font-size: 1.5rem;
  border: none;
  border-bottom: 2px solid var(--gray);
}

.input:focus {
  outline: none;
  border-bottom: 2px solid var(--blue);
}
