.inputField {
  width: 90%;
  padding: 3rem 5%;
  transition: color 0.5s;
}

.valid {

}


.invalid input {
  outline: var(--warning);
}

.active {
  color: var(--blue);
}

.inactive {
  color: var(--gray);
}

.hint {
  font-style: italic;
}

.markup {

}

.label {
  text-transform: uppercase;
}

.input {
  display: block;
  width: 100%;
  padding: 0.5rem;
  font-size: 1.5rem;
  border: none;
  border-bottom: 2px solid var(--gray);
}

.input:focus {
  outline: none;
  border-bottom: 2px solid var(--blue);
}

input[type=color] {
  width: 4rem;
  height: 4rem;
  border-radius: 5px;
}

input[type=date] {
  width: 14rem;
}

input[type=month] {
  width: 16rem;
}

input[type=number] {
  width: 8rem;
}

input[type=time] {
  width: 14rem;
}

input[type=week] {
  width: 18rem;
}
