.newItem {
  background-color: var(--orange-film);
  border: 2px solid var(--gray);
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.cancel {
  background-color: var(--off-white);
}

.buttons {
  margin-left: 5%;
  margin-bottom: 2rem;
}
