.newItem {
  background-color: var(--orange-film);
  border: 2px solid var(--gray);
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.item {
  border: 1px solid var(--gray);
  background-color: var(--orange-film);
  border-radius: 2px;
  margin: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.cancel {
  background-color: var(--off-white);
}

.buttons {
  margin-left: 5%;
  margin-bottom: 2rem;
}
