.optionList {
  composes: inputField from './InputField.css';
}

.active {
  composes: active from './InputField.css';
}

.inactive {
  composes: inactive from './InputField.css';
}

.option {
  display: block;
  line-height: 3rem;
}

.option:hover {
  color: var(--blue);
}

.label {
  composes: label from './InputField.css';
  display: inline;
  margin-right: 2rem;
}

.input {
  font-size: 1.5rem;
  display: inline;
  width: auto;
  transform: scale(2);
  margin-right: 1rem;
}

.heading {
  margin-top: 1rem;
  border: none;
  border-top: 2px solid var(--gray);
  text-transform: uppercase;
}

.active .heading {
  border-top: 2px solid var(--blue);
}
