.optionList {
  composes: inputField from './InputField.css';
}

.active {
  composes: active from './InputField.css';
}

.inactive {
  composes: inactive from './InputField.css';
}

.option {
  display: block;
  width: auto;
  margin-right: 1rem;
}

.option.checked button {
  color: var(--blue);
}

.option.unchecked button {
  color: var(--gray);
}

.option:hover button {
  color: var(--blue);
}

.option button {
  line-height: 3rem;
  background-color: transparent;
  border: 0;
  outline: 0;
}

.label {
  display: inline;
  vertical-align: bottom;
  margin-left: 1rem;
  font-size: 2rem;
}

.heading {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  border: none;
  text-transform: uppercase;
}

.active .heading {
  border-top: 2px solid var(--blue);
}
