.textarea {
  composes: input from './InputField.css';
  border: 1px solid transparent;
  transition: border 0.5s;
  min-height: 1rem;
  font-family: 'Roboto Slab';
}

.textarea:hover {
  border: 1px solid var(--gray);
}
