.breadcrumb {
  color: var(--white);
  margin: 0;
  padding: 0;
}

.item {
  float: left;
  font-size: 1.5rem;
  height: 100%;
  padding: 0 1rem;
  border-right: 3px solid var(--white-film);
  transform: skew(-15deg);
}

.item .btn {
  display: inline-block;
  transform: skew(15deg);
}

.item .icon {
  margin: 0 1rem;
  font-size: 1.5rem;
}

.item.link {
  cursor: pointer;
}

.item.link:hover {
  background-color: var(--white-film);
}

.item.root {
  margin-left: -100px;
  padding-left: 130px;
  font-weight: bold;
}

.link {

}

.btn {

}
