.content {
  text-align: center;
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 2rem;
  color: var(--blue);
}

.content h2 {
  font-size: 1.8rem;
}

.local, .remote {
  flex: 1;
  padding: 2rem;
}

.remote {
  border-left: 2px solid var(--blue);
}
