.projectList {

}

.projectList .active {
  background-color: rgba(255, 255, 255, 0.5);
}

.projectList li {
  cursor: pointer;
}

.projectList li:hover {
  background-color: var(--orange-film);
}

.linked {
  font-size: 1rem;
  margin-top: -0.5rem;
  color: var(--gray);
}

.removeButton:hover {
  background-color: var(--warning);
}
