.noresults {
  padding: 2rem;
  font-size: 1.2rem;
  text-align: center;
}

.shrug {
  font-size: 3rem;
}

.results {

}

.result {
  cursor: pointer;
}

.result:hover {
  background-color: var(--orange-film);
}
