@import url(https://fonts.googleapis.com/css?family=Roboto+Slab);
@import url(https://fonts.googleapis.com/css?family=Nunito);

:root {
  --header-height: 60px;
  --header-half-height: 30px;
  --white: rgb(255, 255, 255);
  --off-white: rgb(240, 240, 240);
  --black: rgb(30, 30, 30);
  --lime: rgb(160, 255, 90);
  --blue: rgb(63, 81, 181);
  --orange: rgb(255, 212, 0);
  --orange-film: rgba(255, 212, 0, 0.3);
  --white-film: rgba(255, 255, 255, 0.4);
  --gray: rgb(170, 170, 170);
  --dark-gray: rgb(128, 128, 110);
  --gray-film: rgba(200, 200, 200, 0.7);
  --warning: rgb(255, 50, 50);
  --shadow: rgba(0, 0, 0, 0.5);
}

body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  background-color: var(--off-white);
  font-family: 'Nunito';
}

html, body {
  font-size: 14px;
}

a {
  cursor: pointer;
}
