:root {
  --white: rgb(255, 255, 255);
  --lime: rgb(160, 255, 90);
  --blue: #3F51B5;
  --gray: rgb(200, 200, 200);
}

body {
  margin: 0;
  padding: 0;
  min-height: 100%;
}

a {
  cursor: pointer;
}
