.toaster {
  width: 100%;
  height: 100px;
  overflow: hidden;
  position: fixed;
  background-color: var(--orange);
  border: 2px solid var(--gray);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);

  transition: all 0.5s ease-in-out;
  z-index: 800;
}

.active {

}

.inactive {

}

.opened {
  margin-top: var(--header-height);
  min-height: 100px;
  height: auto;
}

.closed {
  margin-top: 0;
  min-height: 100px;
  height: 100px;
}

.active.toaster.closed:hover {
  -webkit-animation: bob 1s ease-in-out;
  -webkit-animation-iteration-count: infinite;
}

.footer {
  width: 100%;
  height: 40px;
  position: absolute;
  bottom: 0;
  right: 0;
  text-align: right;
}

.active .footer {
  cursor: pointer;
}

.footer, .pulltab {
  transition: background-color 0.5s ease-out;
  background-color: var(--orange);
}

.active .footer:hover, .active .pulltab:hover {
  background-color: var(--white-film);
}

.pulltab {
  float: right;
  cursor: pointer;
}

.pulltab button {
  outline: 0;
  border: 0;
  background: transparent;
  width: 100%;
  transition: transform 0.5s;
  cursor: pointer;
}

.opened .pulltab button {
  transform: scaleY(-1);
}

.toggle {
}

.thinking {
  border-bottom: 2px dotted var(--blue);
  -webkit-animation: pulse 1s ease-out;
  -webkit-animation-iteration-count: infinite;
}

.silent {
}

.message {
  z-index: 2;
  width: 100%;
  margin-bottom: 50px;
  padding: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  transition: transform 0.3s ease-in-out;
}

.opened .message {
  transform: scaleY(1);
}

.closed .message {
  transform: scaleY(0);
  margin-bottom: 100px;
}

.message.error {
  background-color: var(--warning);
  color: var(--black);
}

.message.confirm {
  background-color: var(--white-film);
  color: var(--black);
}

.message .title {
  font-size: 2rem;
  font-weight: bold;
  margin-right: 2rem;
  display: inline;
}

.message .body {
  display: inline;
}

.message .actions {
  text-align: right;
}

@media screen and (min-width: 750px) {
  .message {
    width: 75%;
    margin-left: 25%;
  }
}

@-webkit-keyframes bob {
  0% {transform: translate(0, 0);}
  50% {transform: translate(0, 5px);}
  100% {transform: translate(0, 0);}
}

@-webkit-keyframes pulse {
  0% {opacity: 0.5;}
  50% {opacity: 1.0;}
  100% {opacity: 0.5;}
}
