.drawer {
  display: none;
  position: fixed;
  width: 25%;
  min-height: 100%;
  overflow: auto;
  background-color: var(--lime);
  border-right: 2px solid var(--gray);
}

.title {
  width: 100%;
  font-size: 2rem;
  text-align: center;
}

@media screen and (min-width: 750px) {
  .drawer {
    display: block;
    padding-top: 3rem;
  }
}
