.drawer {
  display: none;
  position: fixed;
  width: 25%;
  height: 100%;
  overflow: auto;
  background-color: var(--lime);
  border-right: 2px solid var(--gray);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding-top: 100px;
  z-index: 900;
}

.title {
  width: 100%;
  font-size: 2rem;
  text-align: center;
}

@media screen and (min-width: 750px) {
  .drawer {
    display: block;
  }
}
