body {
  margin-top: 50px;
}

.header
{
  position: fixed;
  z-index: 5;
  padding: 10px;
  width: 100%;
  margin-top: -50px;
  height: 50px;
  background-color: var(--blue);
}

.header a,
.header a:active,
.header a:visited
{
  color: white;
}

.header a:hover
{
  text-decoration: underline;
}
