.item {
  list-style: none;
  margin: 0;
  padding: 1rem 2rem;
}


.avatar, .icon {
  float: left;
  display: inline-block;
  width: 40px;
  text-align: center;
  margin-right: 10px;
}

.avatar {
  height: 40px;
  font-size: 20px;
  line-height: 45px;
  border-radius: 30px;
  color: var(--lime)!important;
  background-color: var(--dark-gray);
  border: 1px solid var(--lime);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

.icon {
  font-size: 30px;
  color: var(--dark-gray);
}

.title {
  display: block;
  margin-left: 50px;
  font-size: 1.3rem;
}

.sub-title {
  display: block;
  margin-left: 50px;
  line-height: 1.2rem;
  font-size: 0.9rem;
  white-space: nowrap;
  color: var(--dark-gray);
}

.text-body {
  display: block;
  margin-left: 50px;
  line-height: 1.2rem;
  font-size: 1rem;
  color: var(--blue);
}

.action {
  display: none;
  position: absolute;
  right: 0;
}

.item:hover .action {
  display: block;
}
