.item {
  list-style: none;
  margin: 0;
  padding: 1rem 2rem;
}


.avatar, .icon {
  float: left;
  display: inline-block;
  font-size: 20px;
  width: 40px;
  text-align: center;
  margin-right: 10px;
}

.avatar {
  height: 40px;
  line-height: 40px;
  border-radius: 30px;
  color: var(--lime)!important;
  background-color: var(--dark-gray);
}

.icon {
  font-size: 30px;
  color: var(--dark-gray);
}

.title {
  display: block;
  margin-left: 50px;
  font-size: 1.3rem;
}

.sub-title {
  display: block;
  margin-left: 50px;
  line-height: 1.2rem;
  font-size: 1rem;
  color: var(--dark-gray);
}

.text-body {
  display: block;
  margin-left: 50px;
  line-height: 1.2rem;
  font-size: 1rem;
  color: var(--shadow);
}
