.sortable {

}

.sorting {

}

.waiting {

}

.item {
  transition: transform 0.5s ease-in;
}

.droppable {
  height: 0;
  transition: height 0.5s ease-in;
}

.sorting > .item > .droppable {
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.4);
  height: 4rem;
}

.sorting > .item > .droppable:hover {
  background-color: var(--white-film);
}

.sorting > .item {
  transform: opacity(0.5);
}

.draggable {
  cursor: move;
  border: 1px solid transparent;
}

.draggable:hover {
  border: 1px dotted var(--blue);
}
