extends ./layout.jade
block container
    h1= locals.title
    - pages = _.sortBy(contents.pages, function(item) {return item.metadata.sequence}) 
    - overview = contents.pages['overview.md']
    .row
        .col.m9.12.l10
            block content
                .section
                    h2.header= overview.title
                    != overview.html

        .col.m3.12.hide-on-small-only.l2
            block nav
                .toc-wrapper.pinned
                    ul.section.table-of-contents
                        each p in pages
                            li
                                if page.url == p.url || page.url == '/' && p.url == overview.url
                                    a.active(href=p.url)= p.title
                                else
                                    a(href=p.url)= p.title
